

.resume {
  padding: 50px 20px;
  text-align: center;
  background-color: #070A0F;
  box-shadow: 0 20px 30px -10px rgba(229, 202, 90, 0.9);/* Stronger and more visible shadow */
}

h2 {
  color: #fff; /* Updated color for <h2> */
}

.resume-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: white;
  color: black; /* Optional: change text color on hover for better contrast */
}

@media (max-width: 768px) {
  .resume-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .resume-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
